
@using Business.Abstract
@using Business.Concrete
@using CoreUI.Components.Base

@using CoreUI.Components.InputNumber
@using Entity
@using Core.Extantaion;
@using PSS.Components.CartPanel
@typeparam TItem where TItem : Product
@inject IOrderService orderManager
@inject SessionManager sessionManager
@inject CartService cartPanel

<div class="product-columncontent">
    <div class="product-main">
        <a href="/product?code=@Data.Code" title="Ürünün adı" tabindex="0">
            <div class="imgholder">
                <img width="180" src="@Data.ToImage()" />
            </div>
        </a>
        <h3 class="product-name">@Data.Name</h3>
    </div>

    <div class="product-detail">
        <div class="product-price">
            @if (Data.PriceLists?.Count > 0)
            {
                @Data.PriceLists?[0].Price
            }
            TL
        </div>

        <div class="product-amount">
           
            <InputMNumber TValue="double" Change="Change" />

            <button class="shop-image-button" type="button" onclick="@(()=>clickAddProduct())" title="Sepete Ekle">
                <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M17 18a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2M1 2h3.27l.94 2H20a1 1 0 0 1 1 1c0 .17-.05.34-.12.5l-3.58 6.47c-.34.61-1 1.03-1.75 1.03H8.1l-.9 1.63l-.03.12a.25.25 0 0 0 .25.25H19v2H7a2 2 0 0 1-2-2c0-.35.09-.68.24-.96l1.36-2.45L3 4H1zm6 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2m9-7l2.78-5H6.14l2.36 5z" />
                </svg>
            </button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public TItem Data { get; set; } = default!;

    private double Amount { get; set; } = 1;

    // Değer değiştiğinde tetiklenecek metod
    private void Change(double e)
    {
        Amount = e;
    }

    // Sepete ürün ekleme işlemi
    private void clickAddProduct()
    {
        sessionManager.AddCart(Data);
        // cartPanel.AddCart(Data, Amount);
    }
}
