@page "/fail/{guid}"
@using B2C.Data;
@using Business.Abstract
@using DataAccess.Abstract;
@using Entity;
@using _3DPayment.Results;
@attribute [Authorize]
@inject IPaymentService paymentTransaction
@inject NavigationManager navManager
<div class="container">
    <div>
        <label>Ödeme İşlemi Sonucu Hatalı</label>
    </div>
    <div>
        <label>@paymet.BankErrorMessage</label>
        
    </div>
    <button class="btn btn-primary align-content-center" @onclick="@paymentPage">Ödeme Sayfası</button>
</div>
@code {
    [Parameter]
    public string guid { get; set; }
    PaymentTransaction paymet;
    protected override void OnInitialized()
    {
        paymet = paymentTransaction.GetByOrderNumber(Guid.Parse(guid)).Result.Data;
    }

    private void paymentPage()
    {
        navManager.NavigateTo("/payment", true);
    }

    }
