@page "/fail/{guid}"
@using B2B.Data;
@using DataAccess.Abstract;
@using Entity;
@using _3DPayment.Results;
@attribute [Authorize]
@inject IPaymentRepository paymentTransaction;
<div class="container">
    <div>
        <label>Ödeme İşlemi Sonucu Hatalı</label>
    </div>
    <div>
        <label>@paymet.BankErrorMessage</label>

    </div>
</div>
@code {
    [Parameter]
    public string guid { get; set; }
    PaymentTransaction paymet;
    protected override void OnInitialized()
    {
        paymet = paymentTransaction.GetByOrderNumber(Guid.Parse(guid));
    }

    }
