<nav class="navbar navbar-expand-lg navbar-dark" style="background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%)">
    <div class="container">
        <a class="navbar-brand" href="#">PSS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav" style="margin-right:auto !important">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><span class="oi oi-home" aria-hidden="true" style="padding-right:5px;" />Home <span class="sr-only">(current)</span></a>
                </li>
                <AuthorizeView Roles="Admin,Sales">
                    <li class="nav-item">
                        <a class="nav-link" href="offer"><span class="oi oi-plus" aria-hidden="true" style="padding-right:5px;" />Teklif</a>
                    </li>
                    </AuthorizeView>
                <AuthorizeView Roles="Admin,Sales">
                    <li class="nav-item">
                        <a class="nav-link" href="order"><span class="oi oi-credit-card" aria-hidden="true" style="padding-right:5px;" />Sipariş</a>
                    </li>
                </AuthorizeView>
             
                <AuthorizeView Roles="Admin,UserReport">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-document" aria-hidden="true" style="padding-right:5px;" />
                            Raporlar
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="report/1"><span class="oi oi-box" aria-hidden="true" style="padding-right:5px;" />Bekleyen Siparişler</a>
                            <a class="dropdown-item" href="report/4"><span class="oi oi-briefcase" aria-hidden="true" style="padding-right:5px;" />Onaylı Siparişler</a>
                            <a class="dropdown-item" href="clientextre"><span class="oi oi-document" aria-hidden="true" style="padding-right:5px;" />Cari Hesap Extresi</a>
                            <a class="dropdown-item" href="paymentreport"><span class="oi oi-credit-card" aria-hidden="true" style="padding-right:5px;" />Kredi Kartı Logları</a>
                        </div>
                    </li>
                </AuthorizeView>
             @*    <AuthorizeView Roles="Admin">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-list-rich" aria-hidden="true" style="padding-right:5px;" />
                            Banka
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="bank"><span class="oi oi-home" aria-hidden="true" style="padding-right:5px;" />Banka Tanımları</a>
                            <a class="dropdown-item" href="creditcard"><span class="oi oi-credit-card" aria-hidden="true" style="padding-right:5px;" />Kredi Kartı Tanımları</a>
                            <a class="dropdown-item" href="virtualpos"><span class="oi oi-laptop" aria-hidden="true" style="padding-right:5px;" />Sanalpos Tanımları</a>
                            <a class="dropdown-item" href="virtualposparameter"><span class="oi oi-list" aria-hidden="true" style="padding-right:5px;" />Sanalpos Parametre Tanımları</a>
                        </div>
                    </li>
                </AuthorizeView> *@
                <AuthorizeView Roles="Admin,Managment">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-wrench" aria-hidden="true" style="padding-right:5px;" />
                            Yönetim
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="userlist"><span class="oi oi-person" aria-hidden="true" style="padding-right:5px;" />Kullanıcı Tanımları</a>
                            <a class="dropdown-item" href="firmparam"><span class="oi oi-list" aria-hidden="true" style="padding-right:5px;" />Firma Parametreleri</a>
                            <a class="dropdown-item" href="companylist"><span class="oi oi-box" aria-hidden="true" style="padding-right:5px;" />Firma Listesi</a>
                        </div>
                    </li>

                </AuthorizeView>
                <li class="nav-item">
                    <a class="nav-link" href="iletisim"><span class="oi oi-envelope-closed" aria-hidden="true" style="padding-right:5px;" />İletişim</a>
                </li>
            </ul>
           
        </div>
    </div>
</nav>

@code {

}
