@page "/"
@using System.Security.Claims
@inject AuthenticationStateProvider AuthStateProvider
<PageTitle>Index</PageTitle>

<h1>Lütfen Giriş Yapınız....</h1>

B2B Satış ve Tahsilat

<SurveyPrompt Title="Bize ulaşmak için" />
@code{
    private ClaimsPrincipal? _currentUser;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        _currentUser = authState.User;


        if (_currentUser.Identity?.IsAuthenticated ?? false)
        {
            Console.WriteLine($"Kullanıcı: {_currentUser.Identity.Name} ");
        }
        else
        {
            Console.WriteLine("Kullanıcı giriş yapmamış.");
        }
    }
}