@page "/"
@using System.Security.Claims
@inject AuthenticationStateProvider AuthStateProvider
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code{
    private ClaimsPrincipal? _currentUser;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        _currentUser = authState.User;


        if (_currentUser.Identity?.IsAuthenticated ?? false)
        {
            Console.WriteLine($"Kullanıcı: {_currentUser.Identity.Name} ");
        }
        else
        {
            Console.WriteLine("Kullanıcı giriş yapmamış.");
        }
    }
}