.number-int{
    display:flex;
    height:1.5em;
}
.number-text{
    text-align:right;
    border:none;
    font-weight:400;
    margin:0px;
    padding:0px;
}
.up{
  width:15px;
  display:inline-flex;
  border:none;
  border-block-color:transparent;
  background-color:transparent;
  vertical-align:central;
  color:blue;
  margin:0px;
  padding:0;
 
}
.down {
    width: 15px;
    font-weight:700;
    display: inline-flex;
    border:none;
    border-block-color: transparent;
    background-color: transparent;
    vertical-align: central;
    color:red;
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}
.button{
    text-align:end;
    
}
@media (max-width: 640.98px) {
    .up {
        display: none;
    }

    .down {
        display: none;
    }
}