@page "/acikriza"
<h3 class="justify-content-center"> Açık Rıza Metni</h3>

<p>İnternet sitesinde yer alan Kişisel Veriilerin Korunması Politikası, Çerez Kullanım Politikası ve Gizlilik Politikası başlıklı metinler ve gerekli aydınlatmaların şahsıma veri işlemesinden önce ilgili 
    mevzuat hükümlerine uygun şekilde yapıldığını, açık rızamın bir ürün veya hizmetin sunulmasına yada ürün ve hizmetlerden yararlandırmanın ön şartı olarak ileri sürülmediğini ,
    veri işeleme ile ilgili bütün konularda tarafıma açık ve anlaşılır bilgi verildiğini, elde edilecek kişisel verilerinmin hangi amaçla kullanılacağını tarafımdan anlaşıldığını ve ilgili
    politika ve belgeleri eksiksiz okuyup anladığımı kabul beyan ve taahüt ederim
</p>

@code {

}
