@page "/infoguvenlik"

<div class="row">
    <div class="box-body">
        <p>
            <strong>Garantili Bilgi Transferi</strong><br>
            <br>
            Firmamız teknolojinin en gelişmiş güvenlikli yazılımlarını kullanır. Bu yüzden bize
            kredi kartı bilgilerinizi verirken almış olduğunuz risk, güvenli bir bankanın
            internet sitesinden işlem yaparken almış olduğunuz risk kadardır.<br>
            <br>
            <strong>Güvenli Alışveriş</strong><br>
            <br>
            Sitemiz, SSL (Secure Socket Layer) ve SET (Secure Electronic Transaction)
            teknolojilerinin en son versiyonlarını kullanır.&nbsp;<br>
            <br>
            Tüm bilgi alışverişi SSL güvencesi altındadır ve tüm veri akışı şifreli olarak
            yapılmaktadır. Kart numaranızı kimse kesinlikle göremez. Para transferi işlemleri
            Garanti Bankası Vpos'ları üzerinden, dünya standardı olan SET protokolü kullanılarak
            yapılmaktadır.&nbsp;<br>
            <br>
            Limit aşımına uğramış, sahte veya çalıntı olarak bildirilmiş kartların kullanımı
            mümkün olmayacaktır.<br>
            <br>
            <strong>Tarayıcınızın Güvenli Olduğunu Nasıl Anlarsınız ?</strong><br>
            <br>
            Tarayıcınız güvenli modda çalışıyorsa, alt navigasyon çubuğunuzun sağında bir
            *kilit* ya da *anahtar* işareti olacaktır.<br>
            <br>
            Ya da tarayıcınızın, görüntülemekte olduğu url adresine bakabilirsiniz.Burada *http*
            yerine *https* yazacaktır.(İngilizcede *güvenli* anlamına gelen *secure* kelimesinin
            başharfi olan *s* eklenecektir
        </p>
        <br><br>

    </div>
    <div class="box-footer">
        <div class="row">
            <div class="col-md-3">
                <a href="/infoguvenlik">Güvenlik ve Gizlilik</a>
            </div>
            <div class="col-md-3">
                <a href="/infomesafeli">Mesafeli Sözleşmeler</a>
            </div>
            <div class="col-md-3">
                <a href="/infoiade">Değişim ve İade Koşulları</a>
            </div>
            <div class="col-md-3">
                <a href="/infokargo">Teslimat ve Kargo</a>
            </div>
        </div>
    </div>
</div>

@code {

}
