@page "/infokargo"
<div class="box-body">
    <p>  Teslimat zamanı ürün çeşitine göre 7 ile 30 iş gününde teslim edilecektir.</p>
   
</div>
<div class="box-footer">
    <div class="row">
        <div class="col-md-3">
            <a href="/infoguvenlik">Güvenlik ve Gizlilik</a>
        </div>
        <div class="col-md-3">
            <a href="/infomesafeli">Mesafeli Sözleşmeler</a>
        </div>
        <div class="col-md-3">
            <a href="/infoiade">Değişim ve İade Koşulları</a>
        </div>
        <div class="col-md-3">
            <a href="/infokargo">Teslimat ve Kargo</a>
        </div>
    </div>
</div>

@code {

}
