@page "/infomesafeli"
<div class="container" style="width: 100%;">

    <p>
    </p>
    <p><strong>Mesafeli Sözleşmeler Uygulama ve Esasları :</strong></p>
    <p>
        <strong>Amaç Madde 1</strong>- Bu Yönetmeliğin amacı, mesafeli sözleşmeler hakkında
        uygulama usul ve esaslarını düzenlemektir.
    </p>
    <p>
        <strong>Kapsam Madde 2</strong>- Bu Yönetmelik, yazılı, görsel ve elektronik ortamda veya
        diğer iletişim araçları kullanılarak ve tüketicilerle karşı karşıya gelinmeksizin
        yapılan, malın veya hizmetin tüketiciye anında veya sonradan teslimi veya ifası
        kararlaştırılan sözleşmelere uygulanır.
    </p>
    <p>
        <strong>Dayanak Madde 3</strong>- Bu Yönetmelik, 23/2/1995 tarihli ve 4077 sayılı
        Tüketicinin Korunması Hakkında Kanunun 31 inci ve bu Kanuna 4822 sayılı Kanunla eklenen
        9/A maddelerine dayanılarak hazırlanmıştır.
    </p>
    <p><strong>Tanımlar Madde 4</strong>- Bu Yönetmeliğin uygulanmasında;</p>
    <p>a) Bakanlık: Sanayi ve Ticaret Bakanlığını,</p>
    <p>b) Bakan: Sanayi ve Ticaret Bakanını,</p>
    <p>
        c) Mal: Alış-verişe konu olan taşınır eşyayı, konut ve tatil amaçlı taşınmaz malları ve
        elektronik ortamda kullanılmak üzere hazırlanan yazılım, ses, görüntü ve benzeri gayri
        maddi malları,
    </p>
    <p>
        d) Hizmet: Bir ücret veya menfaat karşılığında yapılan mal sağlama dışındaki her türlü
        faaliyeti,
    </p>
    <p>
        e) Satıcı: Kamu tüzel kişileri de dahil olmak üzere ticari veya mesleki faaliyetleri
        kapsamında tüketiciye mal sunan gerçek veya tüzel kişileri,
    </p>
    <p>
        f) Sağlayıcı: Kamu tüzel kişileri de dahil olmak üzere ticari veya mesleki faaliyetleri
        kapsamında tüketiciye hizmet sunan gerçek veya tüzel kişileri,
    </p>
    <p>
        g) Tüketici: Bir mal veya hizmeti ticari veya mesleki olmayan amaçlarla edinen, kullanan
        veya yararlanan gerçek ya da tüzel kişiyi,
    </p>
    <p>
        h) Kredi veren: Mevzuatları gereği tüketicilere nakit kredi vermeye yetkili olan banka,
        özel finans kuruluşu ve finansman şirketlerini,
    </p>
    <p>
        ı) Mesafeli Sözleşme: Yazılı, görsel, telefon ve elektronik ortamda veya diğer iletişim
        araçları kullanılarak ve tüketicilerle karşı karşıya gelinmeksizin yapılan ve malın veya
        hizmetin tüketiciye anında veya sonradan teslimi veya ifası kararlaştırılan
        sözleşmeleri, ifade eder.
    </p>
    <p><strong>Ön Bilgiler</strong></p>
    <p>
        <strong>Madde 5</strong>- Mesafeli sözleşmenin akdinden önce aşağıdaki bilgilerin
        tüketiciye verilmesi zorunludur.
    </p>
    <p>
        a) Satıcı veya sağlayıcının isim, unvan, açık adres, telefon ve varsa diğer erişim
        bilgileri,
    </p>
    <p>b) Sözleşme konusu mal ya da hizmetin temel özellikleri,</p>
    <p>c) Sözleşme konusu mal ya da hizmetin tüm vergiler dahil satış fiyatı,</p>
    <p>d) Satıcı veya sağlayıcının fiyat dahil tüm vaatlerinin geçerlilik süresi,</p>
    <p>e) Tüketicinin ödemelerinin nasıl yapılacağına dair bilgiler,</p>
    <p>
        f) Teslimat ve ifanın nasıl yapılacağına ve varsa buna ilişkin masrafların tutarı ve
        kimin tarafından karşılanacağına dair bilgiler,
    </p>
    <p>g) Cayma hakkı ve bu hakkın nasıl kullanılacağına dair bilgiler,</p>
    <p>h) Tüketiciye bir maliyeti varsa kullanılan iletişim yollarının ücreti,</p>
    <p>ı) Sözleşme konusu mal ya da hizmetin, teslim ve ifa tarihlerine ilişkin program,</p>
    <p>
        j) Tüketicinin talep ve şikayetlerini iletebileceği satıcı veya sağlayıcının açık adres,
        telefon ve varsa diğer erişim bilgileri.
    </p>
    <p><strong>Ön Bilgilerin Doğruluğunun Yazılı Olarak Kanıtlanması</strong></p>
    <p>
        <strong>Madde 6</strong>- Tüketici, ön bilgileri doğru ve eksiksiz olarak edindiğini
        yazılı olarak teyit etmedikçe sözleşme akdedilemez. Elektronik ortamda yapılan
        sözleşmelerde bu teyit işlemi yine elektronik ortamda yapılır. Tüketici, mallar için
        sözleşme konusu mal kendisine ulaşmadan, hizmetler için de en geç sözleşmenin ifasından
        önce ön bilgileri içeren yazılı onayı almalıdır.
    </p>
    <p><strong>Sözleşmede Bulunması Gereken Şartlar</strong></p>
    <p>
        <strong>Madde 7</strong>- Mesafeli sözleşmenin yazılı olarak yapılması ve bu sözleşmenin
        bir nüshasının tüketiciye verilmesi zorunludur. Sözleşmede;
    </p>
    <p>
        a) Tüketicinin, satıcı veya sağlayıcının isim, unvan, açık adres, telefon ve varsa diğer
        erişim bilgileri,
    </p>
    <p>b) Sözleşmenin düzenlendiği tarih,</p>
    <p>c) Malın veya hizmetin teslim veya ifa tarihi ve şekli,</p>
    <p>
        d) Teslimat ve ifaya ilişkin masrafların tutarı ve kimin tarafından karşılanacağına dair
        bilgiler,
    </p>
    <p>
        e) Sözleşme konusu malın veya hizmetin cinsi veya türü, miktarı ve varsa marka ve modeli,
    </p>
    <p>f) Malın veya hizmetin Türk Lirası olarak vergiler dahil peşin satış fiyatı,</p>
    <p>g) Vadeye göre faiz ile birlikte ödenecek Türk Lirası olarak toplam satış fiyatı,</p>
    <p>
        h) Faiz miktarı, faizin hesaplandığı yıllık oran ve sözleşmede belirtilen faiz oranının
        yüzde otuz fazlasını geçmemek üzere gecikme faizi oranı,
    </p>
    <p>ı) Peşinat tutarı,</p>
    <p>j) Ödeme planı,</p>
    <p>k) Borçlunun temerrüde düşmesinin hukuki sonuçları, yer alır.</p>
    <p><strong>Cayma Hakkı</strong></p>
    <p>
        <strong>Madde 8</strong>- Tüketici; mal satışına ilişkin mesafeli sözleşmelerde, teslim
        aldığı tarihten itibaren yedi gün içerisinde hiçbir hukuki ve cezai sorumluluk
        üstlenmeksizin ve hiçbir gerekçe göstermeksizin malı reddederek sözleşmeden cayma
        hakkına sahiptir. Hizmet sunumuna ilişkin mesafeli sözleşmelerde ise, bu süre
        sözleşmenin imzalandığı tarihte başlar. Sözleşmede, hizmetin ifasının 7 günlük süre
        dolmadan yapılması kararlaştırılmışsa, tüketici ifanın başlayacağı tarihe kadar cayma
        hakkını kullanabilir. Cayma hakkının kullanımından kaynaklanan masraflar satıcı veya
        sağlayıcıya aittir. Elektronik ortamda anında ifa edilen hizmetler ve tüketiciye anında
        teslim edilen mallara ilişkin sözleşmeler cayma hakkı ve kullanımına ilişkin hükümlere
        tabi değildir. Malın teslimi sözleşmeye taraf olan tüketici dışında bir kişiye yapılsa
        dahi tüketici cayma hakkını kullanabilir. Bu durumda satıcı malı 9 uncu maddenin
        dördüncü fıkrası hükmü uyarınca üçüncü kişiden teslim alır. Tüketicinin özel istek ve
        talepleri uyarınca üretilen veya üzerinde değişiklik ya da ilaveler yapılarak kişiye
        özel hale getirilen mallarda tüketici cayma hakkını kullanamaz. Ayrıca tüketici,
        niteliği itibariyle iade edilemeyecek, hızla bozulma veya son kullanma tarihi geçme
        ihtimali olan mallar söz konusu olduğunda cayma hakkını kullanamaz. Bu Yönetmeliğin 6
        ncı ve 7 nci maddesindeki koşullardan biri eksik olduğu taktirde satıcı veya sağlayıcı
        en geç otuz gün içerisinde eksikliği giderir. Bu durumda 7 günlük süre, söz konusu
        eksikliğin giderildiğine dair bilginin yazılı olarak tüketiciye ulaştırıldığı tarihten
        itibaren başlar. Tüketicinin ödediği bedel kısmen veya tamamen satıcı veya sağlayıcı
        tarafından ya da satıcı veya sağlayıcı ile kredi veren arasındaki anlaşmaya dayanılarak
        karşılanıyorsa, cayma hakkının kullanılması halinde, kredi sözleşmesi de hiçbir tazminat
        veya cezai şart tutarını ödeme yükümlülüğü söz konusu olmaksızın kendiliğinden sona
        erer.
    </p>
    <p>
        Ancak bunun için, cayma bildiriminin kredi verene de yazılı olarak iletilmesi gerekir.
    </p>
    <p><strong>Satıcı ve Sağlayıcının Yükümlülüğü</strong></p>
    <p>
        <strong>Madde 9</strong>- Satıcı veya sağlayıcı tüketicinin siparişi kendisine
        ulaştırdığı andan itibaren en geç otuz gün içerisinde edimini yerine getirmekle
        yükümlüdür. Bu süre tüketiciye daha önceden yazılı olarak bildirilmek koşuluyla en fazla
        on gün uzatılabilir. Satıcı veya sağlayıcı, tüketicinin cayma bildiriminin kendisine
        ulaştığı tarihten itibaren on gün içinde almış olduğu bedeli, kıymetli evrakı ve
        tüketiciyi borç altına sokan her türlü belgeyi iade etmekle, ayrıca yirmi gün içinde de
        malı geri almakla yükümlüdür. Satıcı veya sağlayıcı mesafeli sözleşme konusu malın veya
        hizmetin tüketiciye teslimi veya ifasından önce sözleşmenin bir nüshasını ve ön
        bilgilerin teyidine ilişkin yazılı onayın bir nüshasını tüketicinin kendi el yazısı ile
        imzalanmasını sağlayarak teslim eder. Uyuşmazlık halinde ispat külfeti satıcı ve
        sağlayıcıya aittir. Haklı bir sebebe dayanmak şartıyla satıcı veya sağlayıcı,
        sözleşmeden doğan ifa yükümlülüğünün süresi dolmadan ve sözleşmede belirtmesi şartıyla,
        tüketiciye eşit kalite ve fiyatta mal veya hizmet tedarik edebilir. Satıcı veya
        sağlayıcı, sipariş konusu mal veya hizmetin yerine getirilmesinin imkansızlaştığını
        ileri sürerek, sözleşme konusu yükümlülüklerini yerine getiremiyorsa, bu durumu,
        sözleşmeden doğan ifa yükümlülüğünün süresi dolmadan tüketiciye bildirir. Ödemiş olduğu
        bedel ve borç altına sokan tüm belgeleri 10 gün içinde tüketiciye iade eder.
    </p>
    <p><strong>Geri Ödeme</strong></p>
    <p>
        <strong>Madde 10</strong>- Mesafeli sözleşmelerde, ödemenin kredi kartı veya benzeri bir
        ödeme kartı ile yapılması halinde tüketici, kartın kendi rızası dışında ve hukuka aykırı
        biçimde kullanıldığı gerekçesiyle ödeme işleminin iptal edilmesini talep edebilir. Bu
        halde, kartı çıkaran kuruluş itirazın kendisine bildirilmesinden itibaren 10 gün içinde
        ödeme tutarını tüketiciye iade eder.
    </p>
    <p><strong>Kapsam Dışı Sözleşmeler</strong></p>
    <p><strong>Madde 11</strong>- Bu Yönetmelik hükümleri;</p>
    <p>a) Banka, sigorta ile ilgili,</p>
    <p>b) Otomatik satış makineleri vasıtasıyla akdedilen,</p>
    <p>c) Halka açık jetonlu telefonlar vasıtasıyla akdedilen,</p>
    <p>d) Açık arttırma yolu ile akdedilen,</p>
    <p>
        e) Gıda, içecek ve günlük tüketim için tüketicinin evine veya işyerine düzenli olarak
        sağlanan malların tedariki ile ilgili,
    </p>
    <p>
        f) Sağlayıcının üstlendiği, barınma, ulaşım, yemek tedariki, sportif ve kültürel
        faaliyetler ve eğlence hizmetlerini özel bir günde veya sürede tedarik etmesine ilişkin
        hükümler içeren, sözleşmelere uygulanmaz.
    </p>
    <p>
        <strong>Yürürlük Madde 12</strong>- Bu Yönetmelik 14/6/2003 tarihinde yürürlüğe girer.
    </p>
    <p>
        <strong>Yürütme Madde 13</strong>- Bu Yönetmelik hükümlerini Sanayi ve Ticaret Bakanı
        yürütür.
    </p>
    <p></p>

</div>
<div class="box-footer">
    <div class="row">
        <div class="col-md-3">
            <a href="/infoguvenlik">Güvenlik ve Gizlilik</a>
        </div>
        <div class="col-md-3">
            <a href="/infomesafeli">Mesafeli Sözleşmeler</a>
        </div>
        <div class="col-md-3">
            <a href="/infoiade">Değişim ve İade Koşulları</a>
        </div>
        <div class="col-md-3">
            <a href="/infokargo">Teslimat ve Kargo</a>
        </div>
    </div>
</div>


@code {

}
