@if (ShowDialog)
{
    <div class="modal fade show d-block" id="Confirm" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Onay</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="()=>OnConfirmationChanged(false)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @BodyText
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="()=>OnConfirmationChanged(false)">Vazgeç</button>
                    <button type="button" class="btn btn-primary" @onclick="()=>OnConfirmationChanged(true)">Tamam</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    protected bool ShowDialog { get; set; }

    public void Show()
    {
        ShowDialog = true;
        StateHasChanged();
    }
    [Parameter] public string BodyText{ get; set; }
    [Parameter] public EventCallback<bool> ConfirmationChanged { get; set; }
    protected async Task OnConfirmationChanged(bool value)
    {
        ShowDialog = false;
        await ConfirmationChanged.InvokeAsync(value);
    }
}
