@using B2B.Data;
@if (DataList != null)
{
    <div class="menu">
        <ul>
            <CascadingValue Value="DataList">
                @foreach (var menu in DataList.Where(x => x.parent == 1))
                {
                    <PanelMenuItem dataModel="menu" SelectItemChange="SubCallBack">

                    </PanelMenuItem>
                }
            </CascadingValue>
        </ul>
    </div>
}

@code {
    [Parameter]
    public List<MenuItemModel> DataList { get; set; }

    [Parameter]
    public MenuItemModel SelectedItem { get; set; } //eventcallback ile gönderilen data

    [Parameter]
    public EventCallback<MenuItemModel> SelectItemChange { get; set; } //üst copmenete haber vermek için yazıldı ama sıkıntılı

    protected void SubCallBack(MenuItemModel model) //alt copmonnetten gelen tıklanan değer tekrar eşitleniyor.
    {
        if (model != null)
        {
            SelectedItem = model;
            SelectItemChange.InvokeAsync(SelectedItem);
        }
    }
  
}
