@using CoreUI.Components.NotificationService
@inherits LayoutComponentBase

<PageTitle>B2C</PageTitle>



<div class="page">

    <header>
        <Header />
    </header>


    <div class="container">
        <main>
            <article class="content px-4">
                <MNotification />
                @Body
            </article>
        </main>
    </div>



    <footer>
        <Footer />
    </footer>





</div>
