@inherits LayoutComponentBase
<div class="page">
    <MNotification></MNotification>
    <main>
        <B2BMenu/>
        <article class="content px-4">

            @Body
        </article>
    </main>
</div>
