@using CoreUI.Components.Confirm
@using CoreUI.Components.LoadingService
@using CoreUI.Components.Modal
@using CoreUI.Components.NotificationService


@inherits LayoutComponentBase


<div class="page">

    <main>
        <NavMenu />
        <Confirm />
        <article class="content px-4">
            <MNotification />

            @Body
        </article>
    </main>
    <SpinnerOverlay />
</div>

@code {
   
}