@using CoreUI.Components.Modal
@using CoreUI.Components.NotificationService

@inherits LayoutComponentBase


<div class="page">

    <main>
        <NavMenu />
      
        <article class="content px-4">
            <MNotification />
            @Body
        </article>
    </main>
</div>

@code {

}