@page "/bank"
@using Business.Abstract;
@using Entity;
@attribute [Authorize]
<div class="container">
    <DataGrid @ref="dataGridRef"
              TItem="BankCard"
              Data="@bankCardList"
              @bind-SelectedRow="selectBankCard"
                Editable
                Responsive
                ShowPager
              CommandMode="DataGridCommandMode.ButtonRow"
              PageSize="10">

        <DataGridColumns>
            <DataGridCommandColumn />

            <DataGridColumn Field="@nameof(BankCard.BankCode)" Caption="Banka Kodu" Sortable="true" />
            <DataGridColumn Field="@nameof(BankCard.Name)" Caption="Banka Adı" Sortable="true" Editable />

        </DataGridColumns>

    </DataGrid>
</div>
@code {
    [Inject]
    IBankCardService bankCardService { get; set; }


    private List<BankCard> bankCardList;
    private DataGrid<BankCard> dataGridRef;
    private BankCard bankCard;

    private BankCard selectBankCard
    {
        get
        {
            if (bankCard == null)
            {
                bankCard = new BankCard();
            }
            return bankCard;
        }
        set
        {
            bankCard = value;
        }
    }


    protected override Task OnInitializedAsync()
    {
        bankCardList = bankCardService.GetAllBank();

        return base.OnInitializedAsync();
    }
}
