@page "/virtualposparameter"
@inject IVirtualPosRepository virtualPosRepository
@using DataAccess.Abstract;
@using Entity;
@attribute [Authorize(Roles ="Admin")]
<div class="container">
    <div class="row">
        <div class="col-5">
            <VirtualPosListPage virtualPosList="virtualPosList" OnChanged="onChanged" />
        </div>
        <div class="col-7">
            @if (selectedVirtualPos != null)
            {
                <BankParameterListPage BankId="selectedVirtualPos.BankCardId"/>
            }
        </div>
    </div>
</div>

@code {
    private List<VirtualPos> virtualPosList;
    private VirtualPos selectedVirtualPos;

    private void onChanged(VirtualPos virtualpos)
    {
        selectedVirtualPos = virtualpos;
        StateHasChanged();
    }
    protected override void OnInitialized()
    {
        virtualPosList = virtualPosRepository.GetAll();
    }
}
