<!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <style>
            /* CSS Document */
            #cerceve {
                display: block;
                height: 800px;
                width: 900px;
                margin-right: auto;
                margin-left: auto;
                padding: 0px;
                overflow: hidden;
            }

            .text-bold {
                font-weight: bold;
            }

            .baslik td {
                padding: 15px;
                text-align: center;
                font-weight: bold;
                border: 1px solid black;
            }

            .table tr td {
                text-align: left;
            }

            .table td {
                padding: 5px;
            }

            .line td {
                padding: 5px;
                border-bottom: 1px solid black;
            }
        </style>
        <script type="text/javascript">
            function Print() {
                window.print();
            }
        </script>
    </head>
    <body>
        <div id="cerceve">

        <img src="./media/logo.png" height="80" alt="">
            <table style="width:100%;">

                <tr class="baslik">
                    <td colspan="3">islemturu</td>
                </tr>

                <tr>
                    <td>İşlem No</td>
                    <td> : </td>
                    <td>islemno</td>
                </tr>
                <tr>
                    <td>Cari Ünvanı</td>
                    <td> : </td>
                    <td>firmaunvani</td>
                </tr>
                <tr>
                    <td>Tarih</td>
                    <td> : </td>
                    <td>tarih</td>
                </tr>
                <tr>
                    <td>Cari Kod</td>
                    <td> : </td>
                    <td>carikod</td>
                </tr>
            <tr>
                <td>Cari Ünvan</td>
                <td> : </td>
                <td>cariunvan</td>
            </tr>
            <tr>
                <td>Açıklama</td>
                <td> : </td>
                <td>aciklama</td>
            </tr>
                <tr class="line">
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <td>Ad Soyad</td>
                    <td> : </td>
                    <td>isim</td>
                </tr>
            <tr>
                <td>Kredi Kartı No</td>
                <td> : </td>
                <td>kkno</td>
            </tr>
            <tr>
                <td>Banka Adı</td>
                <td> : </td>
                <td>bankaadi</td>
            </tr>
                <tr>
                    <td>Tutar</td>
                    <td> : </td>
                    <td>
                        <span class="">total₺</span>
                    </td>
                </tr>
            <tr>
                <td>Taksit</td>
                <td> : </td>
                <td>
                    <span class="">taksit</span>
                </td>
            </tr>
                <tr>
                    <td>Yalnız</td>
                    <td> : </td>
                <td>yaziiletutar</td>
                </tr>
                <tr class="line">
                    <td colspan="3"></td>
                </tr>
                <tr>
                    
            </table>


            <div style="display: block; ">
            </div>

        </div>
    </body>
    </html>
