.number-int{
    width:100px;
    display:flex;
}
.up{
  width:20px;
  display:inline-flex;
  border:none;
  border-block-color:transparent;
  background-color:transparent;
  vertical-align:central;
}
.down {
    width: 20px;
    display: inline-flex;
    border:none;
    border-block-color: transparent;
    background-color: transparent;
    vertical-align: central;
}
.button{
    text-align:end;
}