@using Entity;
<div class="row my-3">
    @foreach (var item in Data!)
    {   
        <CascadingValue Value="item" Name="Product">
            <ProductCard />
        </CascadingValue>
    }

</div>
@code {
    [Parameter] public List<Product>? Data { get; set; }
   


}
