@using Entity;
<div class="row my-3">
    @foreach (var item in Data!)
    {   
        <CascadingValue Value="item" Name="Product">
            <ProductCard CardClass="@CardClass"/>
        </CascadingValue>
    }

</div>
@code {
    [Parameter] public List<Product>? Data { get; set; }
    [Parameter] public string CardClass{ get; set; }


}
