* {
    margin-inline-end: 5px;
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
}

/* Default styles for larger screens */
.col-image {
    width: 75px;
}

.code {
    width: 100px;
}

.col-product {
    width: 400px;
}

.col-amount {
    width: 50px;
}

.col-price {
    width: 150px;
    text-align: right;
}

.col-operation {
    width: 150px;
}

.col-amount-input {
    width: 50px;
    text-align: right;
}

.shop-image-button {
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
}

    .shop-image-button:active {
        background-color: #3e8e41;
        transform: translateY(4px);
    }

/* Responsive design for mobile (max-width: 768px) */
@media screen and (max-width: 768px) {
    .col-image,
    .code {
        display: none; /* Hide these columns on smaller screens */
    }

    .col-product {
        width: auto; /* Adjust width for remaining visible columns */
    }

    .col-price,
    .col-operation,
    .col-amount {
        width: auto;
        text-align: left; /* Align text for better readability */
    }

    .shop-image-button {
        padding: 10px; /* Adjust padding for mobile */
        font-size: 14px; /* Smaller font for better fit */
        width:50px;
    }
}
