@using Entity;
<div class="col-md-4 my-3">
    <div class="card" style="witdh:18 rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">@product.Code</h5>
            <p class="card-text">@product.Name</p>
            <a href="#" class="btn btn-primary">Urüne Git</a>
            <a onclick="@AddProduct" class="btn btn-secondary">Ürün Ekle</a>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "Product")]
    private Product? product{ get; set; }

    [CascadingParameter] 
    public ProductsMain? mainparent { get; set; } //üst class referans

    private void AddProduct()
    {
        mainparent?.AddOrder(product!);
    }
}
