*{
    font-family:sans-serif;
    font-size:small;
}
button:active{
    background-color:blue;
}
button{
    background-color:transparent;
    border:none;
}
.shop-image {
    color: blue;
    font-family: 'Icons'!important ;
}
.card-img-top{
    max-height:200px;
    object-fit:scale-down;
}
.two-line{
    line-height :1em;
    height:2m;
    overflow:hidden;
}