@using CoreUI.Components.DataGrid
@using Entity
@inject NavigationManager navManager
<div class="container">
  
            <DataGrid TItem="VirtualPos"
                      Items="virtualPosList"
                      SelectedItemChanged="ItemSelected">
                <Columns>
                    <Column TItem="VirtualPos" Caption="Banka Adı" Field="@nameof(VirtualPos.Name)" />
                </Columns>
                <ButtonRowTemplate>
                    <button type="button" class="btn btn-success" onclick="@(()=>navManager.NavigateTo("/virtualposcard"))">Ekle</button>
                    <button type="button" class="btn btn-primary" disabled="@(selectVirtualPos == null ?true:false)" onclick="@(()=>navManager.NavigateTo($"/virtualposcard/{selectVirtualPos.Id}"))">Değiştir</button>
                </ButtonRowTemplate>
            </DataGrid>
   
</div>
@code {
    [Parameter] public List<VirtualPos> virtualPosList { get; set; } = default!;
    [Parameter] public EventCallback<VirtualPos> OnChanged { get; set; }
    [Parameter] public VirtualPos selectVirtualPos { get; set; } = default!;
    private async Task ItemSelected(VirtualPos selectedItem)
    {
        selectVirtualPos = selectedItem;
        await OnChanged.InvokeAsync(selectedItem);
    }
}
