.popup {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
}
.label{
    position:relative;
    display:inline-block;
    
}
.card{
    top:45px;
    position:absolute;
    min-width:150px;
    right:20px;
}
.card-header {
    text-align: center;
}
.text-right {
    text-align: right;
}
input{
    margin-top:3px;
    margin-right :5px;
}
span{
    margin-top:5px;
}
.label{
    border: 0px;
}
.h-allign{
    align-content:end;
}